<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
  <div class="community_news_layout">
    <div class="media-wrapper">
      <img class="img-fluid lozad basic_img" data-src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'">
    </div>

    <div class="community_news_layout_info">
      <div class="community_news_layout_title">{{ .Title }}</div>
      <div class="community_news_layout_content">{{ .Summary }}</div>
      <a class="btn btn-link latest_activity_footer padding-0" onclick="" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
    </div>
  </div>
</article>
