<article class="col-lg-6 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
<div>
    <!--    <div class="media-wrapper">-->
    <!--      <img class="img-fluid lozad" data-src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'">-->
    <!--    </div>-->

    <div class="content latest_activity_layout">
      <div class="latest_activity_title">{{ .Title }}</div>
      <div class="latest_activity_content text-truncate">{{ .Summary }}</div>
      <a class="btn btn-link latest_activity_footer padding-0" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
    </div>
  </div>
</article>
