{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
  <div class="container">
    {{"<!-- section title --> " | safeHTML}}
    <div class="title text-center">
      <div>{{ with i18n "newPublish" }} {{ index (split . " ") 0 | safeHTML }} {{ end }} {{ with i18n "blogTitle" }} {{ index (split . " ") 1 | safeHTML }} {{ end }}
      </div>
    </div>
    <div class="row blog-content">
      {{"<!-- /section title --> " | safeHTML}}
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      {{ .Render "article" }}
      {{ end }}
      <div class="col-12">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  function isMobile() {
    let flag = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
    return flag;
  }

  /**
   * hack 强制修改最小高度
   * @type {HTMLElement}
   */
  var blog = document.getElementById('blog');
  var clientHeight = blog.clientHeight || ""
  if (clientHeight < 600) {
    blog.setAttribute('style', `min-height: ${isMobile() ? 650 : 1000}px`)
  }
</script>
{{"<!-- /blog -->" | safeHTML}}

{{ end }}
