{{ if gt (where site.RegularPages "Section" "==" "event") 0}}
{{"<!-- Start event Section -->" | safeHTML}}
<section id="event" class="bg-one section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        {{"<!-- section title --> " | safeHTML}}
        <div class="wow fadeIn" data-wow-duration="500ms">
          <p class="service-font"> {{ with i18n "eventTitle" }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span>
							{{ with i18n "eventTitle" }} {{ index (split . " ") 1 | safeHTML }} {{ end }} </span></p>
        </div>
      </div>
      {{"<!-- /section title --> " | safeHTML}}

      {{ range first 3 (where site.RegularPages "Section" "==" "event")}}
      {{ .Render "article"}}
      {{ end }}

      <!--			<div class="all-post text-center col-lg-12">-->
      <!--				<a class="btn btn-main" href="{{ `event/` | absLangURL }}">{{ i18n "viewAllPost" }}</a>-->
      <!--			</div>-->
    </div>
  </div>
</section>
{{"<!-- /event -->" | safeHTML}}
{{ end }}
