{{ $data := index site.Data site.Language.Lang }} {{ if
$data.feature.feature.enable }} {{ with $data.feature.feature }} {{"<!-- feature -->"
| safeHTML}}
<section class="basic_bgc container-fluid about-2" id="feature">
  <div class="row padding-0">
    <!-- this image is for trigger this section fallback background image -->
    <div class="col-sm-6 padding-0">
      <img
        class="img-fluid feature_left_img"
        src="{{ .image_webp | absURL }}"
        onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .image | absURL }})'"
      />
    </div>

    <div class="col-sm-6 container p-5">
      <p class="feature-title-font">{{ .title | markdownify }}</p>
      <div class="row">
        {{ range .feature_item }}
        <div class="col-6 ">
          <div class="media">
            {{with .icon}}
            <div class="align-self-start mr-3">
              <i class="{{ . }}"></i>
            </div>
            {{ end }}
            <div class="media-body">
              <p class="feature-sub-title-font">{{ .title | markdownify }}</p>
              <p class="feature-sub-content-font">
                {{ .content | markdownify }}
              </p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{"<!-- /feature -->" | safeHTML}} {{ end }} {{ end }}
