{{ if gt (where site.RegularPages "Section" "==" "news") 0}}
{{"<!-- Start news Section -->" | safeHTML}}
<section id="news" class="bg-one section">
  <div class="container">
    {{"<!-- section title --> " | safeHTML}}
    <div class="wow fadeIn" data-wow-duration="500ms">
      <p class="service-font">
        {{ with i18n "newsTitle" }} {{ index (split . " ") 0 | safeHTML }} {{ end }}
        <span>{{ with i18n "newsTitle" }} {{ index (split . " ") 1 | safeHTML }} {{ end }} </span>
      </p>
    </div>
    <div class="row">
      {{"<!-- /section title --> " | safeHTML}}
      {{ range first 3 (where site.RegularPages "Section" "==" "news")}}
      {{ .Render "article2"}}
      {{ end }}
    </div>
  </div>
</section>
{{"<!-- /news -->" | safeHTML}}
{{ end }}
