{{ $data := index site.Data site.Language.Lang }}

{{ if $data.service.service.enable}}
{{ with $data.service.service}}
{{"<!-- service -->" | safeHTML }}
<section id="services" class="bg-one section">
  <div class="container">
    <div class="justify-content-center">
      <div class="col-lg-12">
        {{"<!-- section title --> " | safeHTML }}
        <div class="wow fadeIn" data-wow-duration="500ms">
          <p class="service-font">{{.title | markdownify }} </p>
        </div>
      </div>
      <div id="service" class="row">
        {{ range .service_item }}
        <div class="col-lg-4">
          <div class="service-block-style service-block">
            {{with .icon}}
            <div class="align-self-start service-icon mr-3">
              <i class="{{ . }}"></i>
            </div>
            {{ end }}
            <div>
              <div class="feature-sub-title-font service-name">{{ .name | markdownify }}</div>
              <div class="feature-sub-content-font">{{ .content | markdownify }}</div>
            </div>
          </div>
        </div>
        {{ end }}
        {{"<!-- End Single Service Item --> " | safeHTML }}
      </div>
    </div>
  </div>
</section>
{{"<!-- /service -->" | safeHTML }}
{{ end }}
{{ end }}
