{{ $data := index site.Data site.Language.Lang }}

{{ if $data.testimonial.testimonial.enable }}
{{ with $data.testimonial.testimonial }}
{{"<!-- Start Testimonial -->" | safeHTML}}
<section id="testimonial" class="testimonial bg-one blog_section">
  <div class="container testimonial-content">
    {{"<!-- testimonial wrapper --> " | safeHTML}}
    <div class="testimonial-title">{{.title | markdownify }}</div>
    <!--      <div id="testimonials">-->
    <!--        {{ range .testimonial_item }}-->
    <!--        <div class="testimonial_item2 col-lg-4">-->
    <!--          <div class="media">-->
    <!--            {{with .image}}-->
    <!--            <div class="align-self-start mr-3">-->
    <!--              <i class="{{ . }}"></i>-->
    <!--            </div>-->
    <!--            {{ end }}-->
    <!--            <div>-->
    <!--              <p class="testimonial_item_name">{{ .name | markdownify }}</p>-->
    <!--              <p class="testimonial_item_position">{{ .position | markdownify }}</p>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--          <div class="testimonial_item_content">-->
    <!--            <p>{{ .content | markdownify }}</p>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        {{"&lt;!&ndash; /testimonial single &ndash;&gt; " | safeHTML}}-->
    <!--        {{ end }}-->
    <!--      </div>-->
    <div id="testimonials" class="row justify-content-center">
      {{ range .testimonial_item }}
      <div class="col-1">
        <div class="testimonial_content_item ">
          <div class="testimonial_item_name">{{ .name | markdownify }}</div>
          <div class="testimonial_item_position">{{ .position | markdownify }}</div>
          <div class="testimonial_item_content">{{ .content | markdownify }}</div>
        </div>
      </div>
      {{ end }}
      {{"<!-- End Single Service Item --> " | safeHTML }}
    </div>
    <div class="testimonial_content_footer">
      <button class="my-button btn-pre" aria-label="Previous"><i class="{{ .btnPre }}"></i></button>
      <button class="my-button btn-next" aria-label="Next"><i class="{{ .btnNext }}"></i></button>
    </div>
  </div>
</section>
{{"<!-- /testimonial -->" | safeHTML}}
{{ end }}
{{ end }}
