{{ define "main" }}

{{ partial "navigation.html" . }}

{{ partial "banner.html" . }}

{{ partial "service.html" . }}

{{ partial "funfacts.html" . }}

{{ partial "feature.html" . }}

{{ partial "cta.html" . }}

{{ partial "testimonial.html" . }}

{{ partial "news.html" . }}

<!--{{ partial "article.html" . }}-->
{{ partial "blog.html" . }}

{{ partial "event.html" . }}


<!-- {{ partial "about.html" . }}

{{ partial "skill.html" . }}

{{ partial "portfolio.html" . }}

{{ partial "team.html" . }}

{{ partial "pricing.html" . }}

{{ partial "contact.html" . }}

{{ partial "map.html" . }} -->

{{ end }}
